<!DOCTYPE html>
<html>

<head>
    <title>SEO 测试网站</title>
    <meta name="description" content="Get USP Pharmaceutical Bulk Chemicals at Spectrum Chemical. SpectrumChemical.com carries a full line of fine chemicals, lab appliances and lab suppli Spectrum Chemical offers fine chemicals in lab and production sizes.">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{> googleAnalytics}}
</head>

<body>
    <h1> SEO 测试网站</h1>
    <ul class="list-group">
        <li class="list-group-item"><a target="_blank" href="/seo-good.html">较好的SEO内容示例</a> <span>Title Description 图片 H标签</span></li>
        <li class="list-group-item"><a target="_blank" href="/seo-wrong-htag.html">H标签没有用好示例</a> <span>最高H标签非当前文章标题</span></li>
        <li class="list-group-item"><a target="_blank" href="/share-meta-only.html">使用Meta来自定义分享内容</a> <span>分享的内容和页面所见完全不同</span></li>
    </ul>

    <img src="https://static.okchem.com/resources/okchem/images/others/edp-p-3-chris_03.jpg">
</body>

</html>