<!DOCTYPE html>
<html>

<head>
    <title>SEO 测试网站</title>
    <meta name="description" content="Get USP Pharmaceutical Bulk Chemicals at Spectrum Chemical. SpectrumChemical.com carries a full line of fine chemicals, lab appliances and lab suppli Spectrum Chemical offers fine chemicals in lab and production sizes.">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1> SEO 测试网站</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/seo-good.html">较好的SEO内容示例</a> <span>Title Description 图片 H标签</span></li>
    </ul>
</body>

</html>