<!DOCTYPE html>
<html>

<head>
    <title>SEO Good Example</title>
    <meta name="description" content="Get USP Pharmaceutical Bulk Chemicals at Spectrum Chemical. SpectrumChemical.com carries a full line of fine chemicals, lab appliances and lab suppli Spectrum Chemical offers fine chemicals in lab and production sizes.">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{> googleAnalytics}}
</head>

<body>
    <h1> SEO Good Example</h1>

    <p> 这是一个好的SEO页面,下面的内容拷贝自其它网站。</p>
    <p>Spectrum Chemical carries a large selection of high quality bulk chemical pharmaceutical ingredients, including
        USP grade chemical excipients, HPLC solvents, research grade active ingredients, buffer solutions, and more.
        These ingredients are used in a wide variety of roles including production quantities for drug and food use.
    </p>
    <img src="/images/seo-good.png" title="SEO Good Example" alt="SEO Good Example">
    <p>
        Spectrum specializes in providing the top bulk chemical pharmaceutical ingredients if you do not see the
        product, grade, or form of the ingredient you require, just contact our chemical specialist at 800-772-8786.
        Get your products to market Safer, Sooner - Trust Your Ingredients!
    </p>
</body>

</html>