<!DOCTYPE html>
<html>

<head>
    <title>社交分享在网站中的实现</title>
    <meta name="description" content="Get USP Pharmaceutical Bulk Chemicals at Spectrum Chemical. SpectrumChemical.com carries a full line of fine chemicals, lab appliances and lab suppli Spectrum Chemical offers fine chemicals in lab and production sizes.">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://seo.jiu-shu.com/share-meta-only.html">
    <meta property="og:image" content="http://seo.jiu-shu.com/images/zhuyin.jpeg?{{date "now" "YYYYmmDDHHmmss"}}"/>
    <meta property="og:title" content="紫霞仙子"/>
    <meta property="og:description" content="我的意中人是个盖世英雄，有一天他会踩着七色云彩来娶我，我猜中了前头可我猜不着这结局。"/>
    <meta property="fb:app_id" content="460885560928027" />
    {{> googleAnalytics}}
</head>

<body>
    <div class="col-sm-9">
        <section class="content">
            <h1 class="title">社交分享在网站中的实现</h1>
            </ul>
            <h2 id="5YiG5Lqr5YaF5a655a6a5Yi2">分享内容定制</h2>
            <p>一般情况下，类似谷歌和百度的爬虫，会爬取title description （和SEO中的一样）还有图片等作为缩略展示。
                因为各自算法的原因，并不是100%能保证你的title和description就会被展示出来；也不能保证你想要出现的图片就以一定会出现在缩略中。
                如果想<strong>告知</strong>爬虫你的网页的title description和图片等，可以通过Open Graph Meta Tags 来<strong>指引</strong>爬虫。
                具体可以参考<a href="http://ogp.me">http://ogp.me/</a>， 详情请去百度和google。
                示例：</p>
            <p><strong>使用下面的标签来定义分享的内容</strong></p>
            <pre>
            <code>
                &lt;meta property=&quot;og:type&quot; content=&quot;website&quot;&gt;
                &lt;meta property=&quot;og:image&quot; content=&quot;your page image url&quot;/&gt;
                &lt;meta property=&quot;og:title&quot; content=&quot;Title of the page&quot;/&gt;
                &lt;meta property=&quot;og:description&quot; content=&quot;Description of your page&quot;/&gt;
            </code>
            </pre>
            <p><a target="_blank" href="https://www.linkedin.com/cws/share?url=http://seo.jiu-shu.com/share-meta-only.html?{{date "now" "YYYYmmDDHHmmss"}}">分享至Linkin</a> </p>
            <p><a target="_blank" href="https://www.facebook.com/sharer.php?u=http://seo.jiu-shu.com/share-meta-only.html?{{date "now" "YYYYmmDDHHmmss"}}">分享至Facebook</a> </p>
        <p><a target="_blank" href="https://twitter.com/share?url=http://seo.jiu-shu.com/share-meta-only.html?{{date "now" "YYYYmmDDHHmmss"}}">分享至Twitter</a> </p>
        </section>
    </div>
</body>

</html>